#boton{
    background-color: rgb(224, 200, 248);
    color: black;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}

.borde-negro{
    font-weight: unset;
    font-size: 7px;
    border-radius: 20px;
    padding: 60px;
    margin-top: 20px;
    background-color: rgb(236, 144, 224);
    font-size: 18px;
    width: 10%;
}